@model EmailAddressViewModel
@{
    ViewBag.Title = "找回密码";
}

@{
    Layout = "";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetCoreBlog.styles.css" asp-append-version="true" />
</head>
<h4>找回密码</h4>
<div class="row">
    <div class=col-md-12>
        <form method="post">
            <div asp-validation-summary=All class=text-danger></div>
            <div class=form-group>
                <label asp-for=Email></label>
                <input asp-for=Email class=form-control />
                <span asp-validation-for=Email class=text-danger></span>
            </div>
            <button type="submit" class=btn-primary>提交</button>
        </form>
    </div>
</div>