@model LoginViewModel
@{
    ViewBag.Title = "用户登录";
}
@{
    Layout = "";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetCoreBlog.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <span class="col-6 offset-5">
                    <svg t="1658157471125" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2893" width="80" height="80"><path d="M853.333333 85.333333H170.666667c-46.933333 0-85.333333 38.4-85.333334 85.333334v682.666666c0 46.933333 38.4 85.333333 85.333334 85.333334h682.666666c46.933333 0 85.333333-38.4 85.333334-85.333334V170.666667c0-46.933333-38.4-85.333333-85.333334-85.333334z m-170.666666 298.666667v42.666667c0 25.6 17.066667 42.666667 42.666666 42.666666s42.666667 17.066667 42.666667 42.666667v128c0 72.533333-55.466667 128-128 128H384c-72.533333 0-128-55.466667-128-128V341.333333c0-72.533333 55.466667-128 128-128h170.666667c72.533333 0 128 55.466667 128 128v42.666667z m-256 42.666667h110.933333c25.6 0 42.666667-17.066667 42.666667-42.666667s-17.066667-42.666667-42.666667-42.666667H426.666667c-25.6 0-42.666667 17.066667-42.666667 42.666667s17.066667 42.666667 42.666667 42.666667z m170.666666 128h-170.666666c-25.6 0-42.666667 17.066667-42.666667 42.666666s17.066667 42.666667 42.666667 42.666667h170.666666c25.6 0 42.666667-17.066667 42.666667-42.666667s-17.066667-42.666667-42.666667-42.666666z" p-id="2894" fill="#515151"></path></svg>
                </span>
            </div>
            <form method="post" class="col-9 offset-1">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label asp-for="RememberMe" class="form-check-label">
                            <input asp-for="RememberMe" class="form-check-input" />
                            @Html.DisplayNameFor(m=>m.RememberMe)
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">登录</button>
            </form>
            <div class="row">
                <div class="col-1 offset-1">
                    <a asp-controller="Identity" asp-action="RegisterUser" class="row-cols-2 nav-link">注册</a>
                </div>
                <div class="col-1">
                    <a asp-controller="Identity" asp-action="ForgotPassword" class="row-cols-4 nav-link">忘记密码</a>
                </div>
            </div>
        </div>
    </div>
</body>
