@{
    ViewBag.Title = "用户密码修改";
}
@{
    Layout = "";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetCoreBlog.styles.css" asp-append-version="true" />
</head>
<h1 class=text-info>修改密码通知</h1>
<a class="link" asp-controller="Identity" asp-action="Login">修改密码成功，请点击链接跳转至登陆页面......</a>
