@using BlogModels.Enum
@model BlogModels.ViewModels.NewBlogContentViewModel
@{
    ViewBag.Title = "创建博客";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MarkDown/css/editormd.min.css" />
</head>
<body>
    <form method="post" asp-controller="UserBlog" asp-action="CreateNewBlog">
        <div class="card-header d-md-inline-flex col col-md-12">
            <span style="height:30px;display:line-block;vertical-align:middle;line-height:30px;width:6%">文章标题:</span>
            <input class="input-large" asp-for="BlogTitle" type="text" placeholder="Add title for your article" style="margin-left:10px;width:94%" />
        </div>
        <div id="editor" class="editormd-dialog-container card-body" style="height:800px">
            <!-- Tips: Editor.md can auto append a `<textarea>` tag -->
            <textarea id="editorBody" asp-for="BlogContent">### Hello Editor.md !</textarea>
        </div>
        <div class="card-footer row" style="margin:0;width:100%">
            <div style="width:100%">
                <button class="btn btn-primary" id="modalBtn" type="button"
                        data-toggle="modal" data-target="#modalContainer"
                        style="width:10%;float:left;margin:0 0 0 -20px">
                    添加文章标签
                </button>
                <button type="submit" class="btn btn-primary" style="width:10%;float:right;margin: 0 -20px 0 0">提交</button>
            </div>
            <div style="margin-top:10px;margin-left:-18px;">
                <label asp-for="BlogTags">文章标签:</label>
                <input id="inputBlogTag" asp-for="BlogTags" style="margin-left:50px;width:50%" />
            </div>
            <div class="modal fade" id="modalContainer" role="dialog" aria-labelledby="TagModal">
                <div class="modal-dialog" style="width:100%;height:60%;min-width:800px" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Blog Tags</h4>
                        </div>
                        <div class="modal-body" id="tagContainer">
                            @foreach (var tag in Enum.GetValues(typeof(EnumBlogTag)))
                            {
                                <span style="margin-right:10px">
                                    <input class="form-check-label" type="checkbox" value="@tag.ToString()">
                                    @tag.ToString()
                                </span>
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="btnModalClose" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="btnModalOpen">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/MarkDown/src/editormd.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#modalBtn").bind("click", function () {
                //1.点击开启模态窗口
                $("#modalContainer").modal('show');
                return false;
            });
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //2.点击获取模态窗口选中的值
            $("#btnModalOpen").bind("click", function () {
                var arr = [];
                $('#modalContainer input[type=checkbox]:checked').each(function () {
                    arr.push($(this).val());
                });
                if (arr.length > 0) {
                    $("#inputBlogTag").val(arr);
                    $("#modalContainer").modal('hide');
                    return false;
                }else{
                    alert("Please select at least one tag!");
                    return false;
                }
            });
        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //3.点击关闭模态窗口
            $("#btnModalClose").bind("click", function () {
                $("#modalContainer").modal('hide');
                return false;
            });
        })
    </script>
    <script type="text/javascript">
         $(function () {
            var editor = editormd("editor", {
                width: "100%",
                height: 700,
                syncScrolling: "single",
                path: "MarkDown/lib/",  // Autoload modules mode, codemirror, marked... dependents libs path
                saveHTMLToTextarea: true,
                emoji: true,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/UserBlog/UploadBlogImages", // 文件上传的处理请求！
            });

            $("#editor").on("paste", function (ev) {
                //1.截图粘贴图片并上传
                var items = (event.clipboardData || event.originalEvent.clipboardData).items;
                for (var index in items) {
                    var item = items[index];
                    if (item.kind === 'file') {
                        var blob = item.getAsFile();
                        var reader = new FileReader();
                        reader.onload = function (event) {
                            //将剪切板中复制信息转换成一种base64格式字符串
                            var base64 = event.target.result;
                            //ajax上传图片
                            $.ajax({
                                url: "/UserBlog/UploadBlogImagesByClibord",
                                type: 'post',
                                data: { 'base': base64 },
                                async: false,
                                dataType: 'text',
                                success: function (data) {
                                    editor.insertValue("\n![" + "image.png" + "](" + data + ")");
                                    alert("图片上传成功!");
                                },
                                error: function () {
                                    alert('图片上传错误!');
                                }
                            });
                        }
                    };
                }
            });

        });
    </script>
</body>


