@font-face {
  font-family: "iconfont"; /* Project id 4519439 */
  src: url('iconfont.woff2?t=1713879995819') format('woff2'),
       url('iconfont.woff?t=1713879995819') format('woff'),
       url('iconfont.ttf?t=1713879995819') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e623";
}

.icon-email:before {
  content: "\e63a";
}

.icon-querenmima:before {
  content: "\e64b";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-weibo:before {
  content: "\e62f";
}

